@model UserSearchModel

@using (Html.BeginForm()) {
    <div class="dashboardBoxBg mb30">
        <div class="profileIntro">
            <div class="row">
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.DisplayNameFor(m => m.Name)</span>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "e.g. Matt or Matthew" })
                    </div>
                </div>
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        Filter
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

