
@{
    ViewBag.Title = "Product list";
}
@section Breadcrumb {
    <li class="active">Products</li>
}

<section class="clearfix bg-dark dashboardOrders">
    <div class="container">
        <p>Create your product list and search here...</p>
    </div>
</section>

@section Script {
}

@section Header {
}